#freelance_homepage
{
    overflow-x: hidden;
    /* background-color: #368a8b; */
}
#image_text
{
    background-color: #368a8b;
}
#freelance_homepage_title h2{
  position: relative;
  top: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size:45px;
  color: white;
  font-weight: bold;
  padding: 0 30px;

}

#freelance_homepage img{
    width: 100%;
    height: 70vh;
    /* object-fit: cover; */
}
/* ******************************************   MOST POPULAR CATEGORIES  ****************************** */
#freelance_categroies_title
{
    font-family: 'Orbitron', sans-serif;
    
}
#freelance_categroies{

    position: relative;
}
#freelance_categroies #card{
    border-radius: 5px;
    height: 200px;
    cursor: pointer;
    background-color: black;

}
#freelance_categroies #card:hover{
    border: #fff 2px solid;
}
#freelance_categroies #card:hover img{
    opacity: 1;

}

#freelance_categroies #card img
{
    border-radius: 5px;
    height: 100%;
    opacity: .8;

}
#freelance_categroies #card #card-title{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #1e34fe;
    /* color:red; */
    font-weight:bold ;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}
#freelance_categroies button{
    color: #1e34fe;
    font-size: 20px;
}
#freelance_categroies #footer{
    background-color: white !important;
}
.arrow {
    position: absolute;
    top: 35%;
    padding: 5px 4px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0,0, 0.55);
}
.right{
    right: 3px;
}
.left 
{
    left: 0;
}

/*  ********************************************     CONTENT AND VIDEO     ****************************************************** */
#content_part #content
{
    padding: 20px 90px;
}
#content_part #content h2
{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
}
#content_part #content li{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#content_part #content p{
    padding: 0 0px 0 30px;
    color: gray;
}
#content_part img{
    height: 70%;
    position: relative;
    top: 15%;
    /* align-items: center;
    justify-content: center;
    margin: auto 0; */
}

